openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: OpenVPM REST API
  version: 1.0.0
  summary: Versioned public integration API for OpenVPM
  description: "A tenant-scoped REST API for clients, patients, appointments, clinical SOAP notes, and the OpenVPM Agent."
  license:
    name: AGPL-3.0-or-later
    identifier: AGPL-3.0-or-later
servers:
  - url: https://demo.openvpm.com
    description: OpenVPM Cloud API host
externalDocs:
  description: OpenVPM REST API integration guide
  url: https://github.com/badmarsh/openvpm-ai/blob/main/docs/api/README.md
tags:
  - name: Clients
    description: Client records for the authenticated practice
  - name: Patients
    description: Patient records for the authenticated practice
  - name: Appointments
    description: Appointment scheduling for the authenticated practice
  - name: Clinical records
    description: Clinician-reviewed clinical documentation
  - name: Agent
    description: Tenant-scoped OpenVPM Agent execution
x-compliance:
  ruleset: openvpm/api-standards
  profile: public-rest
  version: "2026-09"
  risk: low
  controls:
    clinical-human-review:
      status: enforced
      evidence: The SOAP-note contract requires clinician_confirmed to be true.
    controlled-substances-zero-prefill:
      status: enforced
      evidence: The public contract exposes no controlled-substance write fields.
    sympathy-gate:
      status: enforced
      evidence: The public contract has no automated reminder or outreach operation.
paths:
  /api/v1/clients:
    get:
      tags:
        - Clients
      summary: List clients
      description: Returns a paginated list of non-deleted clients belonging to the authenticated practice.
      operationId: listClients
      x-required-scope: clients:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Paginated client list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/clients/{id}:
    get:
      tags:
        - Clients
      summary: Get a client
      description: Returns one client in the authenticated practice by UUID.
      operationId: getClient
      x-required-scope: clients:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Client record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/patients:
    get:
      tags:
        - Patients
      summary: List patients
      description: Returns a paginated list of non-deleted patients, optionally filtered by client UUID.
      operationId: listPatients
      x-required-scope: patients:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/ClientIdFilter"
      responses:
        "200":
          description: Paginated patient list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/patients/{id}:
    get:
      tags:
        - Patients
      summary: Get a patient
      description: Returns a patient by UUID and includes canonical merge metadata when the requested record was merged.
      operationId: getPatient
      x-required-scope: patients:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Patient record and optional merge metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/appointments:
    get:
      tags:
        - Appointments
      summary: List appointments
      description: Returns appointments with pagination and optional tenant-scoped client, patient, location, status, and date filters.
      operationId: listAppointments
      x-required-scope: appointments:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - $ref: "#/components/parameters/ClientIdFilter"
        - $ref: "#/components/parameters/PatientIdFilter"
        - $ref: "#/components/parameters/LocationIdFilter"
        - $ref: "#/components/parameters/AppointmentStatusFilter"
        - $ref: "#/components/parameters/FromFilter"
        - $ref: "#/components/parameters/ToFilter"
      responses:
        "200":
          description: Paginated appointment list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Appointments
      summary: Create an appointment
      description: Creates a tenant-scoped appointment after validating related records and checking scheduling conflicts.
      operationId: createAppointment
      x-required-scope: appointments:write
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppointmentCreate"
      responses:
        "201":
          description: Appointment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "423":
          $ref: "#/components/responses/Locked"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/appointments/{id}:
    get:
      tags:
        - Appointments
      summary: Get an appointment
      description: Returns one appointment in the authenticated practice by UUID.
      operationId: getAppointment
      x-required-scope: appointments:read
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      responses:
        "200":
          description: Appointment record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/soap-notes:
    post:
      tags:
        - Clinical records
      summary: Create a clinician-confirmed SOAP note
      description: Creates an immediately finalized SOAP note from an integration after the attributed clinician has reviewed it.
      operationId: createSoapNote
      x-required-scope: records:write
      x-clinical-safety: human-review-before-finalization
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SoapNoteCreate"
      responses:
        "201":
          description: Finalized SOAP note created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoapNoteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "423":
          $ref: "#/components/responses/Locked"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/v1/agent:
    post:
      tags:
        - Agent
      summary: Run the OpenVPM Agent
      description: Runs the tenant-scoped agent. Writes are disabled by default and require agent:write plus the resource scope required by each invoked tool.
      operationId: runAgent
      x-required-scope: agent:run
      x-clinical-safety: agent-writes-remain-human-gated
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentRunRequest"
      responses:
        "200":
          description: Agent execution result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "423":
          $ref: "#/components/responses/Locked"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OpenVPM API key
      description: Preferred authentication. Send the raw ovpm_ key as a bearer token.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Alternate authentication header for the raw ovpm_ API key.
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource UUID
      schema:
        type: string
        format: uuid
    Limit:
      name: limit
      in: query
      required: false
      description: Number of records to return. Defaults to 25 and is capped at 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Offset:
      name: offset
      in: query
      required: false
      description: Number of records to skip. Defaults to 0 and is capped at 100000.
      schema:
        type: integer
        minimum: 0
        maximum: 100000
        default: 0
    ClientIdFilter:
      name: client_id
      in: query
      required: false
      description: Filter by client UUID.
      schema:
        type: string
        format: uuid
    PatientIdFilter:
      name: patient_id
      in: query
      required: false
      description: Filter by patient UUID.
      schema:
        type: string
        format: uuid
    LocationIdFilter:
      name: location_id
      in: query
      required: false
      description: Filter by location UUID.
      schema:
        type: string
        format: uuid
    AppointmentStatusFilter:
      name: status
      in: query
      required: false
      description: Filter by appointment status.
      schema:
        type: string
        enum:
          - scheduled
          - confirmed
          - checked_in
          - in_exam
          - checked_out
          - no_show
          - cancelled
    FromFilter:
      name: from
      in: query
      required: false
      description: Inclusive start-time lower bound as YYYY-MM-DD or a timezone-qualified ISO-8601 timestamp.
      schema:
        $ref: "#/components/schemas/ClinicalDateFilter"
    ToFilter:
      name: to
      in: query
      required: false
      description: Inclusive start-time upper bound as YYYY-MM-DD or a timezone-qualified ISO-8601 timestamp.
      schema:
        $ref: "#/components/schemas/ClinicalDateFilter"
  responses:
    BadRequest:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: API key is missing or invalid
      headers:
        WWW-Authenticate:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: API key does not have the required scope or service access
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource or practice was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Request conflicts with current clinical or scheduling state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PayloadTooLarge:
      description: Request body exceeds the API limit
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Locked:
      description: Practice is in protected recovery mode
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: API key rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: string
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: string
            format: date-time
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailable:
      description: Agent provider is unavailable or not configured
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - message
          properties:
            message:
              type: string
            fields:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
    Pagination:
      type: object
      additionalProperties: false
      required:
        - limit
        - offset
        - total
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
    Client:
      type: object
      additionalProperties: false
      required:
        - id
        - first_name
        - last_name
        - email
        - phone
        - address
        - city
        - state
        - zip
        - preferred_contact_method
        - notes
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: [string, "null"]
        phone:
          type: [string, "null"]
        address:
          type: [string, "null"]
        city:
          type: [string, "null"]
        state:
          type: [string, "null"]
        zip:
          type: [string, "null"]
        preferred_contact_method:
          type: [string, "null"]
        notes:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Patient:
      type: object
      additionalProperties: false
      required:
        - id
        - client_id
        - name
        - species
        - breed
        - sex
        - neutered
        - date_of_birth
        - color
        - microchip_number
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        name:
          type: string
        species:
          type: string
          enum:
            - dog
            - cat
            - bird
            - rabbit
            - reptile
            - horse
            - other
        breed:
          type: [string, "null"]
        sex:
          type: string
          enum:
            - male
            - female
            - unknown
        neutered:
          type: [boolean, "null"]
        date_of_birth:
          type: [string, "null"]
          format: date
        color:
          type: [string, "null"]
        microchip_number:
          type: [string, "null"]
        status:
          type: string
          enum:
            - active
            - inactive
            - deceased
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Appointment:
      type: object
      additionalProperties: false
      required:
        - id
        - start_time
        - end_time
        - status
        - client_id
        - patient_id
        - doctor_id
        - type_id
        - room_id
        - location_id
        - notes
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - scheduled
            - confirmed
            - checked_in
            - in_exam
            - checked_out
            - no_show
            - cancelled
        client_id:
          type: [string, "null"]
          format: uuid
        patient_id:
          type: [string, "null"]
          format: uuid
        doctor_id:
          type: [string, "null"]
          format: uuid
        type_id:
          type: [string, "null"]
          format: uuid
        room_id:
          type: [string, "null"]
          format: uuid
        location_id:
          type: [string, "null"]
          format: uuid
        notes:
          type: [string, "null"]
          maxLength: 2000
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SoapNote:
      type: object
      additionalProperties: false
      required:
        - id
        - patient_id
        - appointment_id
        - author_id
        - subjective
        - objective
        - assessment
        - plan
        - source
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        patient_id:
          type: string
          format: uuid
        appointment_id:
          type: [string, "null"]
          format: uuid
        author_id:
          type: string
          format: uuid
        subjective:
          type: [string, "null"]
        objective:
          type: [string, "null"]
        assessment:
          type: [string, "null"]
        plan:
          type: [string, "null"]
        source:
          type: string
          minLength: 1
          maxLength: 200
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ClientListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Client"
        pagination:
          $ref: "#/components/schemas/Pagination"
    ClientResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/Client"
    PatientListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Patient"
        pagination:
          $ref: "#/components/schemas/Pagination"
    PatientResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - meta
      properties:
        data:
          $ref: "#/components/schemas/Patient"
        meta:
          type: object
          additionalProperties: false
          required:
            - requestedPatientId
            - canonicalPatientId
            - mergeMetadata
          properties:
            requestedPatientId:
              type: string
              format: uuid
            canonicalPatientId:
              type: string
              format: uuid
            mergeMetadata:
              oneOf:
                - $ref: "#/components/schemas/MergeMetadata"
                - type: "null"
    MergeMetadata:
      type: object
      additionalProperties: false
      required:
        - sourcePatientId
        - targetPatientId
        - sourceSnapshot
        - performedByName
        - reason
        - createdAt
      properties:
        sourcePatientId:
          type: string
          format: uuid
        targetPatientId:
          type: string
          format: uuid
        sourceSnapshot: {}
        performedByName:
          type: string
        reason:
          type: string
        createdAt:
          type: string
          format: date-time
    AppointmentListResponse:
      type: object
      additionalProperties: false
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Appointment"
        pagination:
          $ref: "#/components/schemas/Pagination"
    AppointmentResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/Appointment"
    SoapNoteResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          $ref: "#/components/schemas/SoapNote"
    AppointmentCreate:
      type: object
      additionalProperties: false
      required:
        - start_time
        - end_time
      properties:
        start_time:
          type: string
          format: date-time
          description: Required timezone-qualified ISO-8601 timestamp.
        end_time:
          type: string
          format: date-time
          description: Required timezone-qualified ISO-8601 timestamp after start_time.
        client_id:
          type: string
          format: uuid
        patient_id:
          type: string
          format: uuid
        doctor_id:
          type: string
          format: uuid
        type_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        notes:
          type: string
          maxLength: 2000
    SoapNoteCreate:
      type: object
      additionalProperties: false
      required:
        - patient_id
        - appointment_id
        - source
        - clinician_confirmed
      properties:
        patient_id:
          type: string
          format: uuid
        appointment_id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        subjective:
          type: string
          maxLength: 20000
        objective:
          type: string
          maxLength: 20000
        assessment:
          type: string
          maxLength: 20000
        plan:
          type: string
          maxLength: 20000
        source:
          type: string
          minLength: 1
          maxLength: 200
        clinician_confirmed:
          const: true
          description: Must be true only after the attributed clinician reviews the AI-generated content.
      anyOf:
        - required:
            - subjective
        - required:
            - objective
        - required:
            - assessment
        - required:
            - plan
    AgentRunRequest:
      type: object
      additionalProperties: false
      required:
        - instruction
      properties:
        instruction:
          type: string
          minLength: 1
          maxLength: 20000
          description: Natural-language instruction for the tenant-scoped agent.
        allow_writes:
          type: boolean
          default: false
          description: Defaults to false. True additionally requires agent:write and resource-specific scopes.
        veterinarian_user_id:
          type: string
          format: uuid
          description: Optional active veterinarian or administrator acting as the human actor for gated tools.
    AgentRunResponse:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          required:
            - text
            - toolCalls
            - iterations
            - stopReason
          properties:
            text:
              type: string
            toolCalls:
              type: array
              items:
                type: object
                additionalProperties: true
            iterations:
              type: integer
              minimum: 0
            stopReason:
              type: string
    ClinicalDateFilter:
      oneOf:
        - type: string
          format: date
        - type: string
          format: date-time
          description: Must include Z or an explicit numeric timezone offset.
